.quote-container {
    min-height: 100vh;
    position: relative;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 90px; /* Ajustez cette valeur pour le positionnement horizontal */
    z-index: 9999;
    
    width: 60px;
    height: 60px;

    border-radius: 50%;
    background-color: #00FF00;
    color: white;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.add-button:hover {
    background-color: #00CC00;
}
  

.remove-button {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Ajustez cette valeur pour le positionnement horizontal */
    z-index: 9999;
    
    width: 60px;
    height: 60px;

    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.remove-button:hover {
    background-color: #EE005F;
}

/* TRI */

.sort-action {
    position: absolute;
    top: 20px;
    right: 200px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4A62FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

.sort-action:hover {
    background-color: #304DFF;
}

.sort-abc {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4A62FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

.sort-abc:hover {
    background-color: #304DFF;
}



/* CITATIONS */


.quote-quote {
    padding-top: 100px;
}

.quote-item {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quote-content {
    border-radius: 23px;
    box-shadow:  11px -11px 0px #d10000,
             -11px 11px 0px #ff0000;
}

.quote-content p {
    margin: 0;
    padding: 50px 300px;
    font-size: 24px;
}




/* POPUP */


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup textarea {
    width: 90vw;
    height: 60vh;
    resize: none;
    margin-bottom: 10px;
    font-size: 18px;
}

.popup button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4A62FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #304DFF;
}

.create-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4A62FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-button:hover {
    background-color: #304DFF;
}
